[submodule "carlosadean/public"]
	path = carlosadean/public
	url = git@github.com:carlosadean/carlosadean.github.io.git
	branch = main
[submodule "carlosadean/themes/anatole"]
	path = carlosadean/themes/anatole
	url = https://github.com/lxndrblz/anatole.git
